@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/css/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/css/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/css/fonts/Inter-Black.ttf') format('truetype');
}

header {
    margin: 2rem 0;
    padding: 6rem 0;
    font-size: 3rem;
    text-align: center;
}

footer {
    text-align: center;
    margin: 8rem 0 2rem 0;
}

footer>p,
header>* {
    margin: 0.4rem 0;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* Align tag and title vertically */
}

.title {
    margin: 0;
    /* Remove default margin */
}

.date {
    text-align: right;
    /* Align date to the right */
}

.tag {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 15px;
    background-color: #0000ff96;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 0 2px;
    line-height: 1;
}