<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=2">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/concrete.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <!-- START OG:GRAPH -->
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}

    {% if page.title and page.url != "/" %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}

    {% if page.image %}
    <meta content="{{ site.url }}/images/{{ page.image }}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/images/site.png" property="og:image">
    {% endif %}

    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}

    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    <!-- END OG:GRAPH -->
</head>
<body>
    <main>
        <header>
            <h1>Nasser</h1>
            <p>
                <a href="/">Accueil</a> | 
                <a href="/about">Qui suis-je ?</a> | 
                <a href="/projects">Mes projets</a>
            </p>
        </header>

        {{ content }}

    </main>
    <footer>
        <p>&copy; 2023 Nasser. All rights reserved.</p>
    </footer>
</body>
</html>
