<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=2">
    <link rel="stylesheet" href="https://unpkg.com/concrete.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/svg+xml" href="/images/favicon.png" sizes="any">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap" rel="stylesheet">
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <!-- START OG:GRAPH -->
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}

    {% if page.title and page.url != "/" %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}

    {% if page.image %}
    <meta content="{{ site.url }}/images/{{ page.image }}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/images/site.png" property="og:image">
    {% endif %}

    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}

    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    <!-- END OG:GRAPH -->
</head>
<body class="max-w-xl">
    <main id="content">

        <div class="light mb-5 flex flex-col">
            <h1 class="font-bold text-5xl"><a href="/" class="light no-underline">Le Blog de Nasser 🤓</a></h1>
            <nav class="mt-4 text-base">
            
                <a href="/" class="mr-3 lighter no-underline">Accueil</a>
            
                <a href="/about" class="mr-3 lighter no-underline">À propos de moi</a>
            
                <a href="/projects" class="mr-3 lighter no-underline">Mes projets</a>
            
                <a href="https://peef.dev" class="mr-3 lighter no-underline">Peef</a>
            
            </nav>
        </div>

        {{ content }}

        <p>
            <a href="/">Voir tous les posts</a>
        </p>

    </main>
    <footer class="mt-5 text-base">
        <p>&copy; 2023 Nasser. Tous droits réservés.</p>
        <p>Design pris sur <a href="https://github.com/johnjago/johnjago.com">johnjago.com</a></p>
    </footer>
</body>
</html>
