<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}

    <!-- START OG:GRAPH -->
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}

    {% if page.title and page.url != "/" %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}

    {% if page.image %}
    <meta content="{{ site.url }}/images/{{ page.image }}" property="og:image">
    {% else %}
    <meta content="{{ site.url }}/images/site.png" property="og:image">
    {% endif %}

    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}

    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    <!-- END OG:GRAPH -->

    <!-- Google tag (gtag.js) -->
    <script async
        src="https://www.googletagmanager.com/gtag/js?id=G-6F6RS5CECC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6F6RS5CECC');
    </script>
</head>

<body>
    <nav>
        <a class="logo" href="/">Nasser</a>
        <ul>
            <li><a href="/about">Qui suis-je ?</a></li>
            <li><a href="/projects">Mes projets</a></li>
        </ul>
    </nav>

    <main>

        {{ content }}

    </main>

    <footer>
        <ul>
            <li style="white-space:nowrap;">© Nasser 2023</li>
            <li><a href="/credits">Credits</a></li>
        </ul>
    </footer>


</body>

</html>